<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./homepage.css">
</head>

<body>
    <div class="main-container">

        <div class="navbar-container">
            <nav>
                <h2>Dr.Dipak Kumar Kole</h2>
                <div class="routes">
                    <ul>
                        <li style="border-bottom: 2px solid #2962ff;"><a href="/">Home</a></li>
                        <li><a href="/publications">Publications</a></li>
                        <li><a href="/activities">Activities</a></li>
                        <li><a href="/awards">Achievements</a></li>
                        <li><a href="/student">Scholar</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/trekking">Trekking & Riding</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>

        <section class="main-section">

            <div class="image-section">
                <!-- <img src="./DKK_Passport 51mmx51mm.jpg" alt="">
                <h1 style="font-size: 2.5rem; text-align: center;">Dr. Dipak Kumar Kole</h1>
                <h2 style="font-size: 1.3rem; font-weight: 400; text-align: center;">Professor of the Department of
                    Computer Science &
                    Engineering</h2>
                <h2 style="font-size: 1.3rem; font-weight: 400; text-align: center;">Jalpaiguri Government Engineering
                    College</h2>

                <div class="links">
                    <a href=""><i class="fi fi-brands-twitter"></i></a>
                    <a href=""><i class="fi fi-brands-linkedin"></i></a>
                    <a href=""><i class="fi fi-brands-github"></i></a>

                </div> -->

                <img src="https://res.cloudinary.com/<%=cloud_name%>/image/upload/w_700,h_1000,c_crop,q_100/<%=dp%>.png" alt="">
                <h1 style="font-size: 2.5rem; text-align: center;">Dr. Dipak Kumar Kole</h1>
                <h2 style="font-size: 1.3rem; font-weight: 400; text-align: center;">Professor of the Department of
                    Computer Science &
                    Engineering</h2>
                <h2 style="font-size: 1.3rem; font-weight: 400; text-align: center;">Jalpaiguri Government Engineering
                    College</h2>

                <div class="links">
                    <a href=""><i class="fi fi-brands-twitter"></i></a>
                    <a href=""><i class="fi fi-brands-linkedin"></i></a>
                    <a href=""><i class="fi fi-brands-github"></i></a>

                </div>
            </div>

            <div class="biography">
                <h2>Biography</h2>
                <hr style="width: 100%">

                <%   data.forEach((e)=>{ %>
                    <%  if(e.type == "Biography") {  %>
                        <p><%= e.description %></p>
                    <% } %>
                <%  }) %>
                <!-- <p>I am Dipak K. Kole, a seasoned academic with a passion for engineering and mathematics. I earned my
                    Ph.D. in Engineering from Bengal Engineering and Science University, now known as IIEST Shibpur,
                    India, in 2012. Prior to that, I completed my M.Tech. and B.Tech. in Computer Science & Engineering
                    and my B.Sc. in Mathematics Honours from Calcutta University.My academic journey has been marked by
                    a strong commitment to excellence, as evidenced by my achievement of securing the 4th position in
                    Mathematics Honours at Calcutta University. With over 22 years of professional experience, I bring a
                    wealth of knowledge and expertise to my role.Currently serving as a Full Professor in the Computer
                    Science and Engineering Department at Jalpaiguri Government Engineering College since 2014, I am
                    deeply involved in both teaching and research. My research interests span a wide range of topics,
                    including Synthesis & Testing of Reversible Circuits, Social Network Analysis, Digital Watermarking,
                    and Agriculture Engineering.I have contributed significantly to the academic community through my
                    publications, with over 67 research articles published in various international journals, conference
                    proceedings, and book chapters. My research areas include VLSI, Reversible Circuits, Social Network
                    Analysis, Agriculture Engineering, Image & Video Processing, and Cryptography.I am dedicated to
                    advancing knowledge and inspiring the next generation of engineers and mathematicians. My work
                    reflects my commitment to pushing the boundaries of research and innovation in the field of
                    engineering and mathematics.</p> -->

                <h2>Interests</h2>
                <hr style="width: 100%">
                <ul>
                    <%   data.forEach((e)=>{ %>
                        <%  if(e.type == "Interests") {  %>
                            <li>➤ <%= e.description %></li>
                        <% } %>
                    <%  }) %>
                    <!-- <li>➤ Synthesis and Testing of Reversible logic circuits</li>
                    <li>➤ Algorithm Design</li>
                    <li>➤ Image processing</li>
                    <li>➤ Cryptography</li>
                    <li>➤ Social Network Analysis </li> -->
                </ul>

                <h2>Education</h2>
                <hr style="width: 100%">
                <ul>
                    <%   data.forEach((e)=>{ %>
                        <%  if(e.type == "Education") {  %>
                            <li>➤ <%= e.description %></li>
                        <% } %>
                    <%  }) %>
                    <!-- <li>➤ Ph.D. (Engineering), (February, 2012) Bengal Engineering & Science
                        University,Shibpur.Dissertation: Synthesis and Testing of Reversible Logic Circuits.
                        Supervisors: Prof. Hafizur Rahaman (IIEST, Shibpur) and Prof. Bhargab B. Bhattacharya (ISI,
                        Kolkata)</li>
                    <li>➤ M.Tech. in Computer Sc. & Engg. from University of Calcutta</li>
                    <li>➤ B.Tech. in Computer Sc. & Engg. from University of Calcutta</li>
                    <li>➤ B.Sc. in Mathematics Honours from Serampur College (Obtained 4th Position in Calcutta
                        University).</li> -->
                </ul>

                <h2>Experience</h2>
                <hr style="width: 100%">
                <ul>
                    <%   data.forEach((e)=>{ %>
                        <%  if(e.type == "Experience") {  %>
                            <li>➤ <%= e.description %></li>
                        <% } %>
                    <%  }) %>
                    <!-- <li>➤ St. Thomas’ College of Engineering & Technology, Associate Professor,Sept’2006-December’2014.
                    </li>
                    <li>➤ NSHM Knowledge Campus Kolkata, Visiting Faculty of M.Sc. in Applied Mathematics and Computer
                        Science, July’2013-December, 2013.</li>
                    <li>➤ Bengal Engineering and Science University, Visiting Faculty in PDSIT, Jun’2010- Jun’2013.</li>
                    <li>➤ Bengal Engineering & Science University, Shibpur, Visiting Faculty in Information Technology,
                        July’2011-December’2011.</li>
                    <li>➤ Simplex Infrastructures Ltd., R & D Engineer, Sept’2005 – August’2006.</li>
                    <li>➤ MCKV Institute of Engineering, Sr. Lecturer in CSE Dept., Jun’2001 –S ept’2005.</li> -->
                </ul>
            </div>
        </section>

        <footer>
            <h2>Dr. Dipak Kumar Kole</h2>
            <h3><strong style="font-weight: 600;">Email :</strong> dipak.kole@cse.jgec.ac.in, dipak.kole@gmail.com </h3>
            <h3><strong style="font-weight: 600;">Address :</strong> Singur, Hooghly, West Bengal, India.</h3>
            <div class="links">
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-twitter"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-linkedin"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-github"></i></a>
            </div>
            <hr style="width: 100%;">
            <p style="margin: 0.3rem 0;">@ Dr.Dipak Kumar Kole | 2024</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/dp.js"></script>
</body>

<script>
    let hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', () => {
        let routes = document.querySelector('.routes');
        routes.classList.toggle('active');
    })

    
</script>

</html>