<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trekking & Riding</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/trekking.css">
    <script src="https://kit.fontawesome.com/43728a2927.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="main-container">

        <div class="navbar-container">
            <nav>
                <h2>Dr.Dipak Kumar Kole</h2>
                <div class="routes">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/publications">Publications</a></li>
                        <li><a href="/activities">Activities</a></li>
                        <li><a href="/awards">Achievements</a></li>
                        <li><a href="/student">Scholar</a></li>
                        <li><a href="/news">News</a></li>
                        <li style="border-bottom: 2px solid #2962ff;"><a href="/trekking">Trekking & Riding</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/myStudentFamily">My Student Family</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>

        <h1 id="Trekking" style="text-align: center;"> My Trekking Experience</h1>
        <p id="Trekking">
            <% pera.forEach((e)=>{ %>
                <% if(e.type=="TrekExp" ) { %>
                    <%= e.description %>
                    <% } %>
                        <% }) %>

            <!-- My trekking experiences have been incredibly rewarding, offering not just physical challenges but also profound personal growth. Each trek has taught me the importance of perseverance, resilience, and teamwork. I always encourage my students to participate in trekking because it fosters good character and a leadership mentality. Trekking also deepens our appreciation for nature, allowing us to connect with the environment and understand the importance of preserving it. Through these adventures, I hope to inspire my students to embrace the great outdoors and cultivate a strong, compassionate spirit. -->
        </p>
        <hr>

        <section class="main-section">
            <%for(trekking of data){%>
                <%if(trekking.type=="Trekking"||trekking.type=="trekking"){%>
                <a href="/trekking/<%=trekking._id%>/show" style="text-decoration: none;color: black;">
                   
                    <div class="card">
                        <% if(trekking.image[0]){ %>
                        <img src="https://res.cloudinary.com/<%=cloud_name%>/image/upload/w_3000,h_3000,c_crop,q_100/<%=trekking.image[0].url%>.png" class="card-img-top" alt="..."
                        >
                        <% } %>
                        <div class="card-body">
                            <h2 class="card-title">Description</h2>
                            <p class="card-text">
                                <%=trekking.description%>
                            </p>
                            <p><b>Location</b>: <%=trekking.location%>
                            </p>
                            <p><b>Year</b>:<%=trekking.year%>
                            </p>
                        </div>
                        <button style="background-color: #2962ff; color: white; outline: none; border: none; margin-left: 1rem; margin-bottom: 1rem; padding: 0.5rem 0.7rem; border-radius: 5px; cursor: pointer;">
                            View Details
                        </button>
                    </div>
                </a>
                <%}}%>
        </section>

        <h1 id="Trekking" style="text-align: center;">My Ridding Experience</h1>
        <p id="Trekking">
            <% pera.forEach((e)=>{ %>
                <% if(e.type=="RidExp" ) { %>
                    <%= e.description %>
                    <% } %>
                        <% }) %>

            <!-- My bike riding experiences have been filled with excitement and joy, offering a sense of freedom and adventure. Each ride, whether through bustling streets or serene countryside, brings a unique thrill and a refreshing break from routine. I always ensure to ride with all the necessary bike gear and accessories for safety. I advise everyone to do the same, as it not only enhances the riding experience but also ensures a safe journey. Through biking, I have discovered a wonderful way to explore new places, stay fit, and enjoy the beauty of the outdoors. -->
        </p>
        <hr>

        <section class="main-section">
            <%for(trekking of data){%>
                <%if(trekking.type!="Trekking"&&trekking.type!="trekking"){%>
                <a href="/trekking/<%=trekking._id%>/show" style="text-decoration: none;color: black;">
                    <div class="card">
                        <% if(trekking.image[0]){ %>
                        <img src="https://res.cloudinary.com/<%=cloud_name%>/image/upload/w_3000,h_3000,c_crop,q_100/<%=trekking.image[0].url%>.png" class="card-img-top" alt="..."
                        >
                        <% } %>
                        <div class="card-body">
                            <h2 class="card-title">Description</h2>
                            <p class="card-text">
                                <%=trekking.description%>
                            </p>
                            <p><b>Location</b>: <%=trekking.location%>
                            </p>
                            <p><b>Year</b>:<%=trekking.year%>
                            </p>
                            <button style="background-color: #2962ff; color: white; outline: none; border: none;margin-bottom: 1rem; padding: 0.5rem 0.7rem; border-radius: 5px; cursor: pointer;">
                                View Details
                            </button>
                        </div>
                    </div>
                </a>
                <%}}%>
        </section>

        <footer>
            <h2>Dr. Dipak Kumar Kole</h2>
            <h3><strong style="font-weight: 600;">Email :</strong> dipak.kole@cse.jgec.ac.in, dipak.kole@gmail.com </h3>
            <h3><strong style="font-weight: 600;">Address :</strong> Singur, Hooghly, West Bengal, India.</h3>
            <div class="links">
                <!-- <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-twitter"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-linkedin"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-github"></i></a> -->
                <a href="<%=googleScholar%>" style="font-size: 2rem; color: white;"><i class="fa-brands fa-google-scholar"></i></a>
                <a href="<%= linkedin %>" style="font-size: 2rem; color: white;"><i class="fi fi-brands-linkedin"></i></a>
                <a href="<%=facebook %>" style="font-size: 2rem; color: white;"><i class="fi fi-brands-facebook"></i></a>
            </div>
            <hr style="width: 100%;">
            <p style="margin: 0.3rem 0;">@ Dr.Dipak Kumar Kole | 2024</p>
        </footer>
    </div>
</body>

<script>
    let hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', () => {
        let routes = document.querySelector('.routes');
        routes.classList.toggle('active');
    })
</script>

</html>