<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trekking & Riding</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/trekking.css">

</head>

<body>
    <div class="main-container">

        <div class="navbar-container">
            <nav>
                <h2>Dr.Dipak Kumar Kole</h2>
                <div class="routes">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/publications">Publications</a></li>
                        <li><a href="/activities">Activities</a></li>
                        <li><a href="/awards">Achievements</a></li>
                        <li><a href="/student">Scholar</a></li>
                        <li><a href="/news">News</a></li>
                        <li style="border-bottom: 2px solid #2962ff;"><a href="/trekking">Trekking & Riding</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>

        <h1 id="Trekking">Trekking</h1>
        <hr>

        <section class="main-section">
            <%for(trekking of data){%>
                <%if(trekking.type=="Trekking"||trekking.type=="trekking"){%>
                <a href="/trekking/<%=trekking._id%>/show" style="text-decoration: none;color: black;">
                   
                    <div class="card">
                        <% if(trekking.image[0]){ %>
                        <img src="https://res.cloudinary.com/<%=cloud_name%>/image/upload/w_3000,h_3000,c_crop,q_100/<%=trekking.image[0].url%>.png" class="card-img-top" alt="..."
                        >
                        <% } %>
                        <div class="card-body">
                            <h2 class="card-title">Description</h2>
                            <p class="card-text">
                                <%=trekking.description%>
                            </p>
                            <p><b>Location</b>: <%=trekking.location%>
                            </p>
                            <p><b>Year</b>:<%=trekking.year%>
                            </p>
                        </div>
                    </div>
                </a>
                <%}}%>
        </section>

        <h1 id="Trekking">Riding</h1>
        <hr>

        <section class="main-section">
            <%for(trekking of data){%>
                <%if(trekking.type!="Trekking"&&trekking.type!="trekking"){%>
                <a href="/trekking/<%=trekking._id%>/show" style="text-decoration: none;color: black;">
                    <div class="card">
                        <% if(trekking.image[0]){ %>
                        <img src="https://res.cloudinary.com/<%=cloud_name%>/image/upload/w_3000,h_3000,c_crop,q_100/<%=trekking.image[0].url%>.png" class="card-img-top" alt="..."
                        >
                        <% } %>
                        <div class="card-body">
                            <h2 class="card-title">Description</h2>
                            <p class="card-text">
                                <%=trekking.description%>
                            </p>
                            <p><b>Location</b>: <%=trekking.location%>
                            </p>
                            <p><b>Year</b>:<%=trekking.year%>
                            </p>
                        </div>
                    </div>
                </a>
                <%}}%>
        </section>

        <footer>
            <h2>Dr. Dipak Kumar Kole</h2>
            <h3><strong style="font-weight: 600;">Email :</strong> dipak.kole@cse.jgec.ac.in, dipak.kole@gmail.com </h3>
            <h3><strong style="font-weight: 600;">Address :</strong> Singur, Hooghly, West Bengal, India.</h3>
            <div class="links">
                <!-- <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-twitter"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-linkedin"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-github"></i></a> -->
                <a href="<%= twitter %>" style="font-size: 2rem; color: white;"><i class="fi fi-brands-twitter"></i></a>
                <a href="<%= linkedin %>" style="font-size: 2rem; color: white;"><i class="fi fi-brands-linkedin"></i></a>
                <a href="<%=facebook %>" style="font-size: 2rem; color: white;"><i class="fi fi-brands-facebook"></i></a>
            </div>
            <hr style="width: 100%;">
            <p style="margin: 0.3rem 0;">@ Dr.Dipak Kumar Kole | 2024</p>
        </footer>
    </div>
</body>

<script>
    let hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', () => {
        let routes = document.querySelector('.routes');
        routes.classList.toggle('active');
    })
</script>

</html>