<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/trekking.css">
    <style>
        .main-container .popup-image{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.9);
            height: 100%;
            width: 100%;
            z-index: 9999999999999999999;
            display: none;
        }

        .main-container .popup-image span{
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 60px;
            font-weight: bolder;
            color: #fff ;
            cursor: pointer;
            z-index: 9999999999999999999;
        }

        .main-container .popup-image img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: 5px solid #fff;
            border-radius: 5px;
            max-width: 800px;
            height: 600px;
        }

        @media screen and (max-width : 850px){
            .main-container .popup-image img {
                max-width: 500px;
                height: 400px;
           }
        }

        @media screen and (max-width : 600px){
            .main-container .popup-image img {
                max-width: 300px;
                height: 300px;
           }
        }
    </style>
</head>

<body>
    <div class="main-container">

        <div class="navbar-container">
            <nav>
                <h1>Dr.Dipak Kumar Kole</h1>
                <div class="routes">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/publications">Publications</a></li>
                        <li><a href="/activities">Activities</a></li>
                        <li><a href="/awards">Achievements</a></li>
                        <li><a href="/student">Scholar</a></li>
                        <li style="border-bottom: 2px solid #2962ff;"><a href="/news">News</a></li>
                        <li><a href="/trekking">Trekking</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </nav>
        </div>
        <h1 style="margin-left: 20px;">News</h1>
        <hr>
        <section class="main-section">
            <%for(imgs of data){%>
                <div class="card" style="width: auto; cursor: pointer;">
                    <img src="https://res.cloudinary.com/<%=cloud_name%>/image/upload/w_700,h_1000,c_crop,q_100/<%=imgs.image%>.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <%if(imgs.description){%>
                            <p class="card-text">
                                <%=imgs.description%>
                            </p>
                            <% } %>
                                <%if(imgs.location){%>
                                    <p><b>Published at</b>: <%=imgs.location%>
                                    </p>
                                    <% } %>
                                        <%if(imgs.year){%>
                                            <p><b>Year</b>:<%=imgs.year%>
                                            </p>
                                            <%}%>
                    </div>
                </div>

                <%}%>

        </section>
        <div class="popup-image">
            <span>&times;</span>
            <img src="" alt="">
        </div>
        <footer>
            <h2>Dr. Dipak Kumar Kole</h2>
            <h3><strong style="font-weight: 600;">Email :</strong> dipak.kole@cse.jgec.ac.in, dipak.kole@gmail.com </h3>
            <h3><strong style="font-weight: 600;">Address :</strong> Singur, Hooghly, West Bengal, India.</h3>
            <div class="links">
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-twitter"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-linkedin"></i></a>
                <a href="" style="font-size: 2rem; color: white;"><i class="fi fi-brands-github"></i></a>
            </div>
            <hr style="width: 100%;">
            <p style="margin: 0.3rem 0;">@ Dr.Dipak Kumar Kole | 2024</p>
        </footer>
    </div>
</body>

<script>
    let hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', () => {
        let routes = document.querySelector('.routes');
        routes.classList.toggle('active');
    })

    document.querySelectorAll('.card img').forEach((image)=>{
        image.onclick = () => {
            document.querySelector('.popup-image').style.display = 'block';
            document.querySelector('.popup-image img').src = image.getAttribute('src');
        }
    })

    document.querySelector('.popup-image span').onclick = () => {
        document.querySelector('.popup-image').style.display = 'none';
    }
</script>

</html>